.cell {
    min-height: 30px;
    min-width: 30px;
    border: 1px solid black;
    user-select: none;
    margin: 0;
}

.free {
    background-color: white;

}
.busy {
    background-color: #444;
}

.cell:hover {
    background-image: url(https://cdn.frankerfacez.com/emoticon/165784/4);
    background-size: 100% 100%;
    /*background-color: #ddd;*/
}

.busy:hover {
    background-color: #111;
}